body{
	font-family: Time New Roman;
	/*background-image: url("static/img1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	background-color: #cccfff;
}
img.tiny{
	width: 20px;
	border:solid thin black;
}
img.big{
	width: 200px;
	border: solid thin black;
	position: absolute;
	right: 100ex;
	top: 10ex;
}
.properties div div{
	display: inline-block;
}
.properties div div:first-child{
	width: 20ex;
	padding-top: 2ex;
	/*color: white;*/
}
.properties div div:last-child{
	font-weight: bold;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: white;
}

}
ul#sort a:hover{
	background-color: #ff6666;
}
ul#sort a:link{
	background-color: #cc99ff;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	list-style-type: none;
	border: solid thin black;
	border-radius: 1ex;
}
/*.nav_button{
	border: solid thin black;
	padding: 1ex;
	margin: 1ex;
	border-radius: 0.5ex;
	width: 15ex;
	text-align: center;
	display: inline-block;
}
.btn{
	border: solid thin black;
	padding: 1ex;
	margin: 1ex;
	border-radius: 0.5ex;
	width: 10ex;
	text-align: center;
	display: inline-block;	
}*/